<p>health works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Daily Health</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-QFv0vH8WJzO7+FrQEgYFdOJtUb8DpIUC7VZ32+OeJ7vSySiM+Txc+lPw+YtK2Gdw+shIWtsmMTX9fDifm6aFVw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div>
<h1>record water intake</h1>

      <div class="card-header">
        <i class="fas fa-water  " style="margin-right: 8px;" ></i>
        <a href="/water" class="nav-link" data-bs-toggle="tab" data-bs-target="#health-tab">Water intake</a>
      </div>
      <div class="card-body" id="health-tab">
      </div>

</div>



<h1>
  record calorie
</h1>


<h1>
  record workouts
  add workouts
</h1>



</body>
