<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Daily Health</title>
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-W1UCdbvyUHZv6eMWiv0KjRSkf+0o6P/+uT3f8+W7qDTuvy+l/TG7V9Xgj8TXdKyJzB6sLxGWUdC6YnYwUfaznQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>

<div class="container my-4">
  <div class="row">
    <div class="col">
      <h1>Track your Daily Health!</h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-tint" style="margin-right: 8px;"></i>
          <a href="/water" class="nav-link active" data-bs-toggle="tab"
             data-bs-target="#water-tab">Record your Water Intake</a>
        </div>
        <div class="card-body" id="water-tab">
          <p>Recording your water intake is an essential part of maintaining a healthy lifestyle. Water is essential for proper bodily functions such as digestion, maintaining body temperature, and removing waste. By keeping track of how much water you are consuming each day, you can ensure that you are meeting your body's needs and staying hydrated. Additionally, tracking your water intake can help you identify patterns and adjust your habits accordingly. For example, if you notice that you tend to drink less water on days when you are busy, you can make a conscious effort to drink more water during those times. Overall, recording your water intake is a simple but effective way to support your overall health and well-being.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fas fas fa-fire" style="margin-right: 8px;"></i>
          <a href="/calorie" class="nav-link active" data-bs-toggle="tab"
             data-bs-target="#calorie-tab">Record your Calorie Intake</a>
        </div>
        <div class="card-body" id="calorie-tab">
          <p>Keeping track of your daily calorie intake is essential for maintaining a healthy lifestyle. With our calorie intake tracker, you can easily record what you eat throughout the day, including the calorie count, date, and time. By consistently tracking your calorie intake, you can gain a better understanding of your eating habits and make informed decisions about your diet. Use this with our Symptom journal and you can tell what food might be causing your symptoms.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-dumbbell" style="margin-right: 8px;"></i>
          <a href="/workout" class="nav-link active" data-bs-toggle="tab"
             data-bs-target="#workout-tab">Record your workout </a>
        </div>
        <div class="card-body" id="workout-tab">
          <p>Recording your workout is an important aspect of maintaining a healthy lifestyle. This feature allows you to keep track of the exercises you perform, the duration of your workout, and the number of calories you burn. By recording your workouts, you can monitor your progress and see improvements in your fitness level over time.</p>
        </div>
      </div>
    </div>
  </div>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-0TfTfc/1KfeRpSQzGvPdyAhNQI3qC3bOlfml0cy/JZ/t6u4w4w4c/XFXY7VFcO9Yk/D7GDRmBLulZf7pZdrLjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>



