<!--<p>forum-thread works!</p>-->

<!--<!DOCTYPE html>-->

<!--<html>-->
<!--<head>-->
<!--  <title>Community Forum</title>-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-FnC/Y8nHYMm6UoT6TzMy1XJ8/8WlD+BSrNaJj+PZO95QwnGc3qzqbBLITgNf9z9l0f6JtrOfs+Z/u2dIgjUW8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--  <style>-->

<!--  </style>-->
<!--</head>-->
<!--<body>-->

<!--<style>-->
<!--  .centered-table {-->
<!--    margin: 0 auto;-->
<!--  }-->
<!--</style>-->

<!--<h1>Connect to the hive community</h1>-->

<!--<div *ngFor="let post of posts">-->
<!--      <h3>{{ post.title }}</h3>-->
<!--      <p>{{ post.content }}</p>-->
<!--      <p><strong>Posted By:</strong> {{ post.user_id }} on {{ post.post_date | date:'dd/MM/yyyy' }} at {{post.time.toString().split(',').join(':')}}</p>-->
<!--      <hr>-->
<!--      <h4>Replies:</h4>-->
<!--      <form>-->
<!--        <div class="form-group">-->
<!--          <label for="replyContent">Reply Content</label>-->
<!--          <textarea class="form-control" id="replyContent" rows="3" [(ngModel)]="reply.content" name="content"></textarea>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-secondary" (click)="addNowReply(post.id)">Submit Reply</button>-->
<!--      </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
