.completed {
  text-decoration: line-through;
}
td {
  text-align: center;
  padding: 12px 15px;
}
table{

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th{
  background-color: #d3eeb8;
  padding: 12px 15px;
  text-align: center;
}
/*tbody*/
.center {
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-align: center;

}
p{
  text-align: center;
}

form{
  text-align: center;
  margin:auto;

}

.form-control {
  background-color: #d3eeb8;
  width: 300px;
  text-align: center;
  margin:auto;
}
textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;


}
.btn {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;

}

body {
  background: linear-gradient(to bottom, #f1f1f1 0%, #D3C3E3 100%) !important;
  animation: gradient 10s ease infinite !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
