<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Todo List</title>
<!--  <style>-->
<!--    body {-->
<!--      background-image: url("../../assets/imgs/todoBg.png");-->
<!--      background-repeat: no-repeat;-->
<!--      background-size: cover;-->
<!--    }-->
<!--  </style>-->
</head>
<style>
  .centered-table {
    margin: 0 auto;
  }
</style>

<body>

<h1>Your Todo List</h1>
<p>List your health-related tasks and goals here.</p>


<!--<img src="../../assets/imgs/todoBg.png" alt="logo">-->

<div class="container">
  <div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle centered-table">
      <table class="table table-striped custab">
        <thead>

        <tr>
<!--          <th>Id</th>-->
          <th>Task</th>
          <th>Completed</th>
<!--          <th>UserId</th>-->


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of todos"  [class.completed]="isTaskCompleted(todo)" >

<!--          <td>{{todo.id}}</td>-->
          <td>{{todo.item}}</td>

          <td>
            <input type="checkbox" [(ngModel)]="todo.completed" (change)="toggleTask(todo) ">
          </td>
<!--          <td>{{todo.user}}</td>-->

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
  <br>
  <br>
<form>
  <fieldset>

    <div class="form-group">
      <label for="item"><span class="req"> </span> Add Task: </label>
      <br>

      <input required type="text" [(ngModel)]="newTask.item" name="item" id="item"
             class="form-control " maxlength="28" placeholder="Complete CPSC410 Project..."
             />

      <br>
      <input class="btn btn-success" type="submit" (click)="addTask(newTask.item)">
    </div>

  </fieldset>
</form>

  <br>
  <div style="text-align: center">
    <p>{{message}}</p>

  </div>
</div>
</body>
