<!DOCTYPE html>

<html>
<head>
  <title>Water Intake</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-FnC/Y8nHYMm6UoT6TzMy1XJ8/8WlD+BSrNaJj+PZO95QwnGc3qzqbBLITgNf9z9l0f6JtrOfs+Z/u2dIgjUW8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>

  </style>
</head>
<body>

<style>
  .centered-table {
    margin: 0 auto;
  }
</style>

<h1>Record your daily calorie intake</h1>

<p class="small-text">Track your calorie intake</p>

<form action="/calorie" method="get">
<!--  <input type="text" name="q" placeholder="Search...">-->

  <input required type="text" [(ngModel)]="calorie.meal_date" name="date" id="date"
          maxlength="28" placeholder="search (yyyy-mm-dd).."  />
  <input class="btn btn-success" type="submit" name="submit_wtr"
         value="search" (click)="getCalOnDate()">
</form>

<br>
<div class="row col-md-6 col-md-offset-2 custyle centered-table">
  <table class="table table-striped custab">
    <thead>
    <tr>
<!--      <th>Id</th>-->
      <th>Meal Type</th>
      <th>Meal Name</th>
      <th>Calories</th>
      <th>Date</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let calories of clr">

<!--      <td>{{calories.id}}</td>-->
      <td>{{calories.meal_typ}}</td>
      <td>{{calories.meal_name}}</td>
      <td>{{ calories.calorie}}</td>
      <td>{{calories.meal_date | date:'yyyy/MM/dd'}}</td>

    </tr>

    </tbody>
  </table>
</div>
<br>
<br>


<h1><strong>Record a Meal</strong></h1>
<div class="container">
  <form>
    <div class="form-group">
      <label for="meal_typ"><span class="req"> </span> Meal Type: </label>
      <select required [(ngModel)]="calorie.meal_typ" name="meal_typ" id="meal_typ" class="form-control">
        <option value="" selected>Select your Meal Type...</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Snack">Snack</option>
      </select>
    </div>

    <div class="form-group">
      <label for="calIntk"><span class="req"></span> Food: </label>
      <input required type="text" [(ngModel)]="calorie.meal_name" name="calIntk" id="calIntk"
             class="form-control" maxlength="28" placeholder="Burger.."  />
    </div>

    <div class="form-group">
      <label for="calIntk"><span class="req"></span> Calories: </label>
      <input required type="text" [(ngModel)]="calorie.calorie" name="calIntk" id="calIntk"
             class="form-control" maxlength="28" placeholder="Add calorie count.."  />
    </div>
    <br>
    <br>
    <div class="form-group">
      <input class="btn btn-success" type="submit" name="submit_wtr"
             value="record meal" (click)="addMeal()">
    </div>
  </form>
  <br>
  <br>
  <div style="text-align: center">
    <h1><strong>{{message}}</strong></h1>
  </div>
</div>



</body>
</html>
