
<!DOCTYPE html>

<html>
<head>
  <title>Community Forum</title>
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-FnC/Y8nHYMm6UoT6TzMy1XJ8/8WlD+BSrNaJj+PZO95QwnGc3qzqbBLITgNf9z9l0f6JtrOfs+Z/u2dIgjUW8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
  <script src="bkToTop.js"></script>
</head>
<body>

<style>
  .centered-table {
    margin: 0 auto;
  }
</style>

<h1>Connect to the hive community</h1>


<h2 class="subheading">Connect to the Health Hive community and discover
  a supportive space where you can discuss your health and wellness journey
  with like-minded individuals. Our community is filled with passionate and
  knowledgeable individuals who are ready to share their experiences and offer
  advice. Whether you're looking to lose weight, manage a chronic condition,
  or just stay healthy, the Health Hive community is here to help.
  Join us today and start connecting with others who share your interests and goals!</h2>



  <form>
    <div class="form-group" >
      <label for="postTitle">Post Title</label>
      <input type="text" class="form-control" id="postTitle" [(ngModel)]="post.title" name="title">
    </div>
    <div class="form-group">
      <label for="postContent">Post Content</label>
      <textarea class="form-control" id="postContent" rows="5" [(ngModel)]="post.content" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addNowPost()">Submit Post</button>
  </form>

  <hr>
<div style="text-align: center">
  <h1><p>{{message}}</p></h1>
</div>
<br>
  <div *ngFor="let post of posts; let i=index" class="text-center">
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <p>{{ post.post_date | date:'dd/MM/yyyy' }} at {{post.time.toString().split(',').join(':')}}</p>

    <button class="btn btn-link" (click)="getReplies(post)">Show Replies</button>
    <div *ngIf="post.id === selectedPostId">
      <div *ngFor="let resp of replies">
        <div style=" margin: 0 auto; display: flex; flex-direction: column; border: 1px solid #333333; padding: 10px; width: 500px;">
          <p style="word-wrap: break-word;"><strong>{{ resp.userName }}</strong></p>
          <p style="word-wrap: break-word;">{{ resp.reply.content }}</p>
        <p style="font-size: 12px;">{{ resp.reply.reply_date | date:'dd/MM/yyyy'}}</p>
      </div>
      </div>
    </div>


    <form>
      <div class="form-group text-center">
        <label for="replyContent"></label>
        <textarea class="form-control" id="replyContent_{{post.id}}" rows="1" cols="2" [(ngModel)]="replyModel[i]" name="content_{{post.id}}"></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-outline-light btn-sm mx-auto" (click)="addNowReply(post.id, replyModel[i])">Reply</button>
    </form>

    <hr>


</div>
<div>
  <button id="back-to-top-btn" title="Go to top" style="display: none; position: fixed; bottom: 20px; right:
   20px; z-index: 99; font-size: 16px; border: none; outline: none; background-color: #333; color: white; cursor:
    pointer; padding: 10px; border-radius: 50%;">Top</button>

</div>

</body>
</html>
